// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;

// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
.navbar-nav a:hover {
  text-decoration: underline;
}

  .jumbotron {
    background: url(../img/pirate-ship.jpg);
    background-size: cover;
    height: 560px;
    font-family: 'Tangerine', cursive, times, serif;
    color: white;
  }

  p {
    font-family: sans-serif;
  }

  .byline {
    font-weight: bold;
    padding-top: 10px;
  }

  .responsive {
    width: 100%;
    height: auto;
  }
  
  .col-lg-8 {
      border-left: 2px solid grey;
      padding-bottom: 30px;
    }

  h2 {
      font-family: 'Tangerine', cursive, times, serif;
      padding-top: 10px;
    }

  .byline {
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  .publication {
    font-family: sans-serif;
  }
  
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  padding-top: 15px;
}
