// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;

// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here
.navbar-nav a:hover {
  text-decoration: underline;
}

  .jumbotron {
    background: url("../img/pirate-ship.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Tangerine', cursive, times, serif;
    color: white;
    padding-top: 20%;
  }

  p {
    font-family: sans-serif;
  }

  .byline {
    font-weight: bold;
    padding-top: 10px;
  }

  h2 {
      font-family: 'Tangerine', cursive, times, serif;
      padding-top: 10px;
    }

  .byline {
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  .publication {
    font-family: sans-serif;
  }
  
.footer {
  background-color: grey;
  color: white;
  text-align: center;
}
